@import "vars";
@import "ress";
@import "common";

footer{
    background: #EDF7EE;
    width: 100%;
    margin: 160px 0 0;
    ul{
        display: flex;
        width: 60%;
        margin: 0 auto;
        padding: 64px 0 0;
        justify-content: space-around;
        list-style: none;
        li{
            text-decoration: none;
            font-size: 2rem;
            font-weight: 600;
            a{
                color: #212121;
            }
        }
    }
    .footer__logo{
        img{
            display: block;
            width: 10%;
            margin: 96px auto 40px;
        }
    }
    p{
        text-align: center;
        padding: 0 0 80px;
        font-size: 1.6rem;
    }
}